@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1></h1>
    <div class="container">
            <div class="col-md-6" style="margin-bottom:12px">
                @Html.ActionLink("Gestionar Noticias", "Index", "News", null, new { @class = "btn btn-info", @style = "width:100%" })
            </div>

            <div class="col-md-6" style="margin-bottom:12px">
                @Html.ActionLink("Gestionar Empleados", "Index", "Employees", null, new { @class = "btn btn-info", @style = "width:100%" })
            </div>

            <div class="col-md-6" style="margin-bottom:12px">
                @Html.ActionLink("Gestionar Clientes", "Index", "Clients", null, new { @class = "btn btn-info", @style = "width:100%" })
            </div>

            <div class="col-md-6 style="margin-bottom:12px"">
                @Html.ActionLink("Gestionar Peticiones", "Index", "Clients", null, new { @class = "btn btn-info", @style = "width:100%" })
            </div>
    </div>
</div>



