@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1></h1>
    <div class="container">

        <div class="col-md-4">
                @Html.ActionLink("Gestionar Noticias", "Index", "News",null, new { @class="btn btn-info"}) &raquo;
        </div>

        <div class="col-md-4">
                @Html.ActionLink("Gestionar Empleados", "Index", "Employees",null, new { @class = "btn btn-info" }) &raquo;
        </div>

        <div class="col-md-4">
                @Html.ActionLink("Gestionar Clientes", "Index", "Clients",null, new { @class = "btn btn-info" }) &raquo;
        </div>
    </div>
</div>



